* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d7f7ff;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  background: linear-gradient(0.25turn, rgb(23, 91, 218), rgb(83, 198, 226));
  display: flex;
  width: 100%;
  height: 8vh;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  }
  
  /* .content {
    display: none;
  } */
  
  .navbar-collapse {
    margin-left: 900px;
    justify-content: space-between;
   
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    margin-left: 5px; /* Adjust as needed */
  }
  
  
  #sidebar-wrapper {
  position: fixed;
  z-index: 2;
  left: 0;
  width: 300px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(-300px);
  background: #367cd8;
  border-right: 1px solid rgba(19, 58, 167, 0.1);
  }
  
  
  .sidebar-nav {
  position: absolute;
  top: 0;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  }
  
  .sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 30px;
  
  }
  
  .sidebar-nav li.sidebar-nav-item h5 {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 18px;
  }
  
  .sidebar-nav svg {
  margin-right: 10px;
  }
  
  .sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
  text-decoration: none;
  }
  
  .sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 100px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 80px;
  padding-right: 30px;
  }
  
  .sidebar-nav > .sidebar-brand a {
  color: #fff;
  text-decoration: none;
  }
  
  .sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
  }
  
  #sidebar-wrapper.active {
  left: 300px;
  width: 300px;
  transition: all 0.4s ease 0s;
  }
  
  .menu-toggle {
  position: fixed;
  left: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
  }
  .menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
  }
  .menu-toggle:hover {
  background: #1459b4;
  }
  
  /* เรียง dropdown ให้แสดงด้านขวา */
  .dropdown-menu {
  left: auto;
  right: 0;
  }
  
  /* ปรับแต่ง dropdown item */
  .dropdown-item {
  color: #333;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  }
  
  /* ปรับแต่งสีพื้นหลังของ dropdown item เมื่อ hover */
  .dropdown-item:hover {
  background-color: #f8f9fa;
  }
  
.wrapper {
  background-color: #fff;
  width: 600px;
  padding: 25px;
  margin: 25px auto 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.wrapper h2 {
  background-color: #fcfcfc;
  color: #0b93e2;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 8px;
  text-align: center;
  border: 1px dashed #0b93e2;
}

.wrapper h4 {
  padding-bottom: 5px;
  color: #0b93e2;
  
}

.input_group {
  margin-bottom: 8px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.input_box {
  width: 100%;
  margin-right: 12px;
  position: relative;
}

.input_box:last-child {
  margin-right: 0;
}

.input_box .name {
  padding: 14px 10px 14px 50px;
  width: 100%;
  background-color: #fcfcfc;
  border: 1px solid #0003;
  outline: none;
  letter-spacing: 1px;
  transition: 0.3s;
  border-radius: 3px;
  color: #333;
}

.input_box .name:focus, .dob:focus {
  -webkit-box-shadow: 0 0 2px 1px #0b93e2;
  -moz-box-shadow: 0 0 2px 1px #0b93e2;
  box-shadow: 0 0 2px 1px #0b93e2;
  border: 1px solid #0b93e2;
}

.input_box .icon {
  width: 15px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  color: #333;
  background-color: #f1f1f1;
  border-radius: 2px 0 0 2px;
  transition: 0.3;
  font-size: 5px;
  pointer-events: none;
  border: 1px solid #00000003;
  border-right: none;
  padding: 15px; /* ลด padding เพื่อให้ข้อความห่างกันมากขึ้น */
}

.name:focus+.icon {
  background-color: #0b93e2;
  color: #fff;
  border-right: 1px solid #0b93e2;
  border: none;
  transition: 1s;
}

.dob {
  width: 30%;
  padding: 14px;
  text-align: center;
  background-color: #fcfcfc;
  transition: 0.3s;
  outline: none;
  border: 1px solid #c0bfbf;
  border-radius: 3px;
}

.radio {
  display: none;
}

.input_box label {
  flex: 1;
  width: 50%;
  padding: 13px;
  background-color: #fcfcfc;
  display: inline-block;
  float: left;
  text-align: center;
  border: 1px solid #c0bfbf;
}

.input_box label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: none;
}

.input_box label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.radio:checked+label {
  background-color: #0b93e2;
  color: #fff;
  transition: 0.5s;
}

.input_box button {
  width: 100%;
  background-color: #0b93e2;
  border: none;
  color: #fff;
  padding: 15px;
  border-right: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.input_box button:hover {
  cursor: pointer;
  background-color: #034a8d;
}
